.auth-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg,#7a3cff,#00ffd5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 420px;
  padding: 35px;
  background: white;
  border-radius: 22px;
  border: 2px solid black;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0,0,0,.25);
}

h1 {
  margin-bottom: 6px;
}

.sub {
  color: gray;
  margin-bottom: 18px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 12px;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 16px;
}

input:focus {
  border-color: #7a3cff;
}

.btn-primary {
  padding: 12px;
  border-radius: 12px;
  border: 2px solid black;
  background: #7a3cff;
  color: white;
  cursor: pointer;
  font-weight: 700;
  transition: .3s;
}

.btn-primary:hover {
  transform: translateY(-2px);
  background: black;
}

.switch-text {
  margin-top: 15px;
}

.switch-text span {
  color: #7a3cff;
  cursor: pointer;
  font-weight: 700;
}

.error {
  background: #ffdcdc;
  color: #b10000;
  border: 1px solid red;
  padding: 9px;
  border-radius: 10px;
}